./mxnjbhvcgjshjkld;fg> /skjfibofiuej'p;'sl flhjwef uyewgwe
f 
wef 'ewf
wef wefew
 wef
 we
few fewewfewflmlw eknkhge
rg tr
34325 34

43 2423 
egrer g;;2
3423
;g 3
2f
32;f 32
lf32 
f32 2'3
lf32 f
32 f'l4g4
 34'g 
24f23
 'l23
f' 23
f[ 32lf'
 32
f'32 lf23
'fl 23
fl' 23
 'lf23f
3f 2'l2l'f
23lf2
 3lf23f'
 2
 fl 23
f 2l'32
f'3 l2
fl2'3 l
2f32